<div class="signup">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal image header">
            <a routerLink="/home" class="image">
              <img src="../../../assets/images/ctrim-icon.png" >
            </a>
            <div class="content">
              Create your account
            </div>
          </h2>
          <form class="ui large form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="ui stacked segment">
              <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" formControlName="username" placeholder="Username">
                  </div>
                </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" formControlName="email" placeholder="E-mail address">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" formControlName="password" placeholder="Password">
                </div>
              </div>
              <button type="submit" class="ui fluid large teal submit button" [disabled]="!signupForm.valid">Signup</button>
              <app-loader></app-loader>
            </div>
      
            <div class="ui error message"></div>
      
          </form>
      
          <div class="ui message">
            Already signed up? <a routerLink="/login">Log In</a>
          </div>
        </div>
      </div>
</div>
