<div >
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">How To Use</a>
            <a href="#" class="item">Favorite Features</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Ctrim.Inc</h4>
          <p>Ctrim is a business management platform inspired by the way you work. From small to 
            large scale business, you can keep track of products, profits, 
            employees and collaborate with other business owners.</p>
        </div>
      </div>
    </div>
  </div>
</div>