<div class="dashboard">
  <div class="ui text container">
      <div class="ui secondary  menu">
          <a routerLink="/home" class="item">
            Home
          </a>
          <a class="active item">
            Dashboard
          </a>
          <a routerLink="/stores" class="item">
            
            Stores
          </a>
          <a class="item">
              Staff
            </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            <a class="ui item">
              Logout
            </a>
          </div>
        </div>
        <h2 class="ui header">
            <i class="asterisk icon"></i>
            <div class="content">
              Most active stores
            </div>
          </h2>
        <div class="ui cards">
            <div class="card">
              <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="meta">Friend</div>
                <div class="description">
                  Elliot Fu is a film-maker from New York.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="header">Veronika Ossi</div>
                <div class="meta">Friend</div>
                <div class="description">
                  Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="header">Jenny Hess</div>
                <div class="meta">Friend</div>
                <div class="description">
                  Jenny is a student studying Media Management at the New School
                </div>
              </div>
            </div>
            <div class="card">
                <div class="content">
                  <div class="header">Jenny Hess</div>
                  <div class="meta">Friend</div>
                  <div class="description">
                    Jenny is a student studying Media Management at the New School
                  </div>
                </div>
              </div>
          </div>
          <h2 class="ui header">
              <i class="asterisk icon"></i>
              <div class="content">
                Newest staff
              </div>
          </h2>
          <div class="ui cards">
              <div class="card">
                <div class="content">
                  <div class="header">
                    Elliot Fu
                  </div>
                  <div class="meta">
                    Friends of Veronika
                  </div>
                  <div class="description">
                    Elliot requested permission to view your contact details
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">
                    Jenny Hess
                  </div>
                  <div class="meta">
                    New Member
                  </div>
                  <div class="description">
                    Jenny wants to add you to the group <b>best friends</b>
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>