<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="active item">Ctrim</a>
        <div class="right item">
          <a routerLink="/login" class="ui inverted button">Log in</a>
          <a routerLink="/signup" class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>