.card {
    margin-left: 4em;
    margin-top: auto;
    float: left;
    font-style: italic;
}

.worth {
    
    background-color: #FDB45C;    
}
.sales {
    background-color: #46BFBD;
}
.profit {
    background-color: rgba(18, 172, 238, 0.712);

}
