<div class="cards">
    <div class="ui card worth">
        <div class="content">
          <div class="center aligned header">Current Net Worh</div>
          <div class="center aligned description">
            <p>KSH: 500,000</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned header">
            18% Decrease
          </div>
        </div>
    </div>
    <div class="ui card sales">
        <div class="content">
          <div class="center aligned header">Current Sales</div>
          <div class="center aligned description">
            <p>KSH: 250, 000</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned header">
            8% Increase
          </div>
        </div>
    </div>
    <div class="ui card profit">
        <div class="content">
          <div class="center aligned header">Current Profit</div>
          <div class="center aligned description">
            <p>KSH: 95, 000</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned header">
            28% Increase
          </div>
        </div>
    </div>
</div>
