.field .field-error {
	border: 1px solid red !important;
	margin-top: 4px;
}
.col a:hover {
	background-color: rgb(80, 177, 172);
  }
.stores {
    background-color: #DADADA;
    height: 100%;
}
.stores .cards {
    margin-left: 1.5em;
}
.no-store {
	margin-left: 2%;
	margin-top: 5%;
}
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

button.float + .label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

button.float:hover + .label-container{
  visibility: visible;
  opacity: 1;
}

.modal{
	top: 28% !important;
}
.modal .header{
	text-align: center;
}
