<table class="ui celled striped table">
    <thead>
      <tr>
        <th colspan="9">
          Products
          <div style="float: right" class="ui category search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search products...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </th>
    </tr>
    <tr *ngIf='productsExist'>
      <th colspan="9">
        You do not have any products at the moment.
        Click the addProduct on the bottom right to add a product.</th>
    </tr>
    </thead>
    <thead>
      <tr>
        <th class="name-item">Name</th>
        <th>Packaging</th>
        <th>Package Pieces</th>
        <th>Number Of Packages</th>
        <th>Package Price</th>
        <th>Number Of Pieces</th>
        <th>Piece Price</th>
        <th>Product Worth</th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="isLoading" class="ui active inline loader"></div>
      <tr *ngFor="let product of products">
        <td>{{ product.name}}</td>
        <td>{{ product.packaging}}</td>
        <td>{{ product.package_pices}}</td>
        <td>{{ product.number_of_packages}}</td>
        <td>{{ product.package_price}}</td>
        <td>{{ product.number_of_pieces}}</td>
        <td>{{ product.piece_price}}</td>
        <td>{{ product.product_worth}}</td>
        <td class="actions">
          <a><i class="edit icon"></i></a>
          <a><i (click)="show = true" class="trash alternate outline icon" id="trash"></i></a>
          <sui-modal *ngIf="show" [isClosable]="true" (dismissed)="show = false" #modal>
              <div class="ui icon header">
                  <i class="trash alternate outline icon"></i>
                  Delete Product
                </div>
                <div class="content">
                  <h5>You are about to delete this product permanently. Are you sure you want to continue?</h5>
                </div>
                <div class="actions">
                    <button class="ui button" (click)="show = false">Cancel</button>
                    <button class="ui red button" (click)="deleteProduct(product); modal.deny()">Delete</button>
                </div>
          </sui-modal>
        </td>
      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="9">
          <button (click)="addProdModal()" class="ui right floated small primary labeled icon button" >
              <i  class="cart icon"></i> Add Product
          </button>
          <div (click)='onNext()' class="ui small button" [class.disabled]="!nextPage">
            Next
          </div>
          <div (click)='onPrev()' class="ui small button" [class.disabled]="!prevPage">
            Prev
          </div>
        </th>
      </tr>
    </tfoot>
</table>
<div *ngIf='showAddProdModal' class='ui dimmer modals page transition visible active' >
  <div class="ui medium modal visible active" id="modal">
      <i class="close icon" (click)='addProdModal()'></i>
      <form class="ui form">
          <h4 class="ui dividing header">New Product Form</h4>
          <div class="field">
            <label>Product Info</label>
              <div class="fields">
                <div class="twelve wide field">
                  <input type="text" name="productName" placeholder="Product Name">
                </div>
                <div class="four wide field">
                    <input type="text" name="packagingName" placeholder="Packaging Name">
                  </div>
              </div>
          </div>
          <div class="field">
            <label>Product Packaging</label>
            <div class="fields">
              <div class="eight wide field">
                <input type="text" name="piecesInPackage" placeholder="Pieces In Package">
              </div>
              <div class="four wide field">
                <input type="number" name="availablePackages" placeholder="Available Packages">
              </div>
              <div class="four wide field">
                  <input type="number" name="packagePrice" placeholder="Price Per Package">
                </div>
            </div>
          </div>
          <div class="field">
              <label>Product Pieces Info</label>
              <div class="fields">
                <div class="eight wide field">
                  <input type="number" name="numberOfPieces" placeholder="Number Of Pieces">
                </div>
                <div class="eight wide field">
                  <input type="number" name="piecePrice" placeholder="Price Per Piece">
                </div>
              </div>
          </div>
            <button (click)='addProdModal()' class="ui black deny button"  tabindex="0">
              Cancel
            </button>
            <button (click)="addProduct()" class="ui button"  tabindex="0">
              Add Product
            </button>
        </form>
    </div>
</div>
