<div class="dets">
    <button class="float circular ui icon teal button">
        <i class="my-float file icon"></i>
    </button>
    
    <div class="label-container">
        <div class="ui grey right pointing label big">Take Stock</div>
      </div>
    <div class="ui container">
        <button  (click)='onBack()' class="ui  blue button">
            Back
        </button>
        <div style="float: right; margin-top: 2em;" class="ui simple dropdown">
          <i class="sidebar big icon"></i>
          <div class="menu">
            <div class="item">View stocks</div>
            <div class="item">Edit store info</div>
            <div class="item">Delete store</div>
          </div>
        </div>      
        <app-line-chart ></app-line-chart>
        <app-percentage-cards></app-percentage-cards>
        <app-products class="products"></app-products>
      </div>
</div>
