<div class="stores">
    <div class="ui text container">
          <app-menu></app-menu>
          <div *ngIf="isLoading"  class="ui segment">
              <p></p>
              <div class="ui active dimmer">
                <div class="ui loader"></div>
              </div>
          </div>
          <div class="ui cards">
              <div class="card" *ngFor="let store of stores">
                <div class="content">
                  <div class="header">{{ store.name }}</div>
                  <div class="meta">{{ store.owner }}</div>
                  <div class="description">
                    A small description about the store
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>
