<div class="ui secondary  menu">
  <a routerLink="/home" class="item">
    Home
  </a>
  <a class="item" routerLink="/dashboard">
    Dashboard
  </a>
  <a routerLink="/stores" class="item">
    Stores
  </a>
  <a class="item">
      Staff
    </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a (click)="logOut()" class="ui item">
      Logout
    </a>
  </div>
</div>
